@import "social";
@import "sizes";
@import "../vendor/font-awesome/scss/font-awesome.scss";

.rlssb-share-bar{
    .rlssb-buttons-wrap{
        display: flex;
        flex-wrap: wrap;
    }
    .rlssb-share-bar-styled{
        .rlssb-button{
            border-width: 2px;
            border-style: solid; 
            display: inline-flex;
            flex-grow: 1;
            flex-shrink: 1;
            margin-right: 10px;
            margin-bottom: 10px;
            transition: background-color 0.2s ease;
            a{  
                transition: color 0.2s ease;
                box-shadow: none;     
                text-decoration: none;
                font-family: Montserrat, "Helvetica Neue", sans-serif;
                margin: 0 auto;
                font-weight: normal;
                text-align: center;
                i.fa{
                    margin-right: 10px;
                }
            }
        }
    }
    .button-size-small{
        .rlssb-button{
            font-size: $small-font;
            a{
                padding: 5px 10px;
                i.fa{
                    font-size: $small-font + 4px;
                }
            }
        }
    }
    .button-size-medium{
        .rlssb-button{
            font-size: $medium-font;
            a{
                padding: 10px 10px;
                i.fa{
                    font-size: $medium-font + 4px;
                }
            }
        }
    }
    
    .button-size-large{
        .rlssb-button{
            font-size: $large-font;
            a{
                padding: 20px 10px;
                i.fa{
                    font-size: $large-font + 4px;
                }
            }
        }
    }
    .button-style-inverted{
        .rlssb-button{
            &.facebook{
                border-color: $facebook;
                background-color: $facebook;
                a{  
                    color: whitesmoke;

                }
                &:hover{
                    background-color: transparent;
                    a{
                        color: $facebook;
                    }
                }
            }
            &.twitter{
                border-color: $twitter;
                background-color: $twitter;
                a{
                    color: whitesmoke;
                }
                &:hover{
                    background-color: transparent;
                    a{
                        color: $twitter;
                    }
                }
            }
            &.googleplus{
                border-color: $googleplus;
                background-color: $googleplus;
                a{
                    color: whitesmoke;
                }
                &:hover{
                    background-color: transparent;
                    a{
                        color: $googleplus;
                    }
                }
            }
            &.pinterest{
                border-color: $pinterest;
                background-color: $pinterest;
                a{
                    color: whitesmoke;
                }
                &:hover{
                    background-color: transparent;
                    a{
                        color: $pinterest;
                    }
                }
            }
            &.linkedin{
                border-color: $linkedin;
                background-color: $linkedin;
                a{
                    color: whitesmoke;
                }
                &:hover{
                    background-color: transparent;
                    a{
                        color: $linkedin;
                    }
                }
            }
            &.whatsapp{
                border: none;
                // border-color: $whatsapp;
                a{
                    // color: $whatsapp;
                }
            }
        }   
    }
    .button-style-default{
        .rlssb-before{
            border: none;
        }
        .rlssb-button{
            &.facebook{
                border-color: $facebook;
                a{
                    color: $facebook;
                }
            }
            &.twitter{
                border-color: $twitter;
                a{
                    color: $twitter;
                }
            }
            &.googleplus{
                border-color: $googleplus;
                a{
                    color: $googleplus;
                }
            }
            &.pinterest{
                border-color: $pinterest;
                a{
                    color: $pinterest;
                }
            }
            &.linkedin{
                border-color: $linkedin;
                a{
                    color: $linkedin;
                }
            }
            &.whatsapp{
                border: none;
                // border-color: $whatsapp;
                a{
                    // color: $whatsapp;
                }
            }
        }   
    }
    
    .caller-{
        &the_title{
            display: inline-block;
        }
        &post_thumbnail_html{
            display: inline-block;
        }
        &the_content{
           display: inline-block;
        }
        &wp_print_footer_scripts{
           float: left; 
        }
    }
}